<h1>Expense Tracker Home</h1>
<% if logged_in? && current_user  %>
    <h3>Logged in as <%= @current_email %></h3>
    <a href="/user/logout">Logout</a>
    <a href="/transaction/index">View Transactions</a>
    <a href="/accounts/index">View Accounts</a>
<% else %>
    <a href="/user/login/">Login</a>
    <a href="/user/signup">Create an Account</a>
<% end %>
