<h1>Transactions</h1>

<% if @transactions %>
    <ul>
        <% puts @transactions %>
        <% @transactions.each do |transaction| %>
            <li>
                date: <%= transaction.date %>, id: <%= transaction.id %>, amount: <%= transaction.amount %>, account: <a href="/accounts/#{transaction.account.id}/"><%= transaction.account.name %></a>. 
            </li>
        <% end %>
    </ul>
<% else %> 
    <h3>You have no transactions</h3>
<% end %>

<a href="/transaction/new">Add a transaction</a>
<a href="/">Go Home</a>