<h1 class="page-title">Accounts</h1>
<h2>Add Account</h2>

<%= form_with model: @account  do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>